@import "../../sassStyles/variables";

.list-container {
  border-radius: 10px 10px 0 0;
  padding: 30px 10px;
  width: 100%;
  height: calc(100vh - 180px);
  position: absolute;
  top: 180px;
  overflow-y: scroll;
  background-color: white;
}
